<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Lista de productos</h1>
        <p id="mensaje">Cargando productos...</p>

        <table id="tabla-productos">
            <thead>
                <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Cantidad</th>
                </tr>
            </thead>
            <tbody id="tbody-productos"></tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>